{% extends 'system_base.html' %}

{% block content %}
	<!--====== PROJECT PART START ======-->


<!--==================================================-->
<!-- Start solutek breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<h4>Contact</h4>
					<ul class="breadcumb-list">
						<li><a href='/'>Home</a></li>
						<li class="list-arrow">&lt;</li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end solutek breadcumb Area -->
<!--==================================================-->




<!--==================================================-->
<!-- Start solutek contact Area -->
<!--==================================================-->

<div class="contact-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="section-title text-left">
					<h5 class="section-sub-title">CONTACT US</h5>
					<h1 class="section-main-title">Make an Online Appoinemnt Booking</h1>
					<h1 class="section-main-title">For Business Planing.</h1>
				</div>
					<div class="contact_from_box">
						<form action="https://formspree.io/f/myyleorq" method="POST" id="dreamit-form">
							<div class="row">
								<div class="col-lg-6">
									<div class="form_box">
										<input type="text" name="name" placeholder="Your Name *">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form_box">
										<input type="email" name="email" placeholder="Your E-Mail *">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form_box">
										<input type="text" name="subject" placeholder="Subject *">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form_box">
										<input type="text" name="phone" placeholder="Phone *">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form_box">
										<textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
									</div>
									<div class="quote_button">
										<button class="btn" type="submit">SENS NOW <i class="bi bi-arrow-right"></i></button>
									</div>
								</div>
							</div>
						</form>
					<div id="status" class="error"></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="contact-box">
					<div class="contact-video-icon">	
						<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=Wx48y_fOfiY">Play</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end solutek contact Area -->
<!--==================================================-->




<!--==================================================-->
<!-- Start solutek google map area-->
<!--==================================================-->
<div class="google-map">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d716.5268468921455!2d-0.17649337147325503!3d5.570073358381451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b1f9bef6453%3A0x7208b9f47d96d41d!2sAfarinick%20Company%20Limited!5e1!3m2!1sen!2sgh!4v1762271720045!5m2!1sen!2sgh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!--End solutek google map area-->
<!--==================================================-->
{% endblock content %}