{% extends 'system_base.html' %}

{% block content %}
	<!--====== PROJECT PART START ======-->

<!--==================================================-->
<!-- Start solutek breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<h4>Our Projects</h4>
					<ul class="breadcumb-list">
						<li><a href='/'>Home</a></li>
						<li class="list-arrow">&lt;</li>
						<li>Projects</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end solutek breadcumb Area -->
<!--==================================================-->

<!--==================================================-->
	<!-- Start solutek case-study-area -->
<!--==================================================-->
	<div class="case-study-area">
		<div class="container">
			<div class="row case-study-bg">
				<div class="col-lg-12 col-sm-12">
					<div class="case_study_nav">
						<div class="case_study_menu">
							<ul class="menu-filtering">
								<li data-filter="*" class="current_menu_item">ALL PROJECTS</li>
								<li data-filter=".agriculture">AGRICULTURE</li>
								<li data-filter=".logistics">LOGISTICS</li>
								<li data-filter=".gis">GEOSPATIAL</li>
								<li data-filter=".monitoring">MONITORING</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row image_load">
				<!-- AfariSense Project -->
				<div class="col-lg-6 col-sm-6 grid-item agriculture gis">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/afarisense-thumb.png" alt="AfariSense Platform">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>AI, Agriculture, Geospatial</h5>
								<h3><a href='/projects/afarisense/'>AfariSense Agriculture Platform</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- EduR Cocoa Project -->
				<div class="col-lg-6 col-sm-6 grid-item agriculture monitoring">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/edur-cocoa-thumb.jpg" alt="EduR Cocoa Traceability">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Supply Chain, Traceability</h5>
								<h3><a href='/projects/edur-cocoa/'>EduR Cocoa Traceability</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- AMP Logistics Project -->
				<div class="col-lg-6 col-sm-6 grid-item logistics">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/amp-logistics-thumb.webp" alt="AMP Logistics System">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Logistics, Fleet Management</h5>
								<h3><a href='/projects/amp-logistics/'>AMP Logistics System</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- HCMS Project -->
				<div class="col-lg-6 col-sm-6 grid-item gis">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/hcms-thumb.jpeg" alt="Hybrid Community-based Monitoring System">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Environmental, Geospatial Solutions</h5>
								<h3><a href='/projects/hcms/'>Hybrid Community-based Monitoring System</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- Human Rights Monitoring -->
				<div class="col-lg-6 col-sm-6 grid-item monitoring gis">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/human-rights-thumb.png" alt="Human Rights Monitoring">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Monitoring, Compliance</h5>
								<h3><a href='/projects/human-rights/'>CJ Commodities Human Rights Monitoring</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- Eximbank M&E System -->
				<div class="col-lg-6 col-sm-6 grid-item monitoring">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/eximbank-thumb.jpg" alt="Eximbank M&E System">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Banking, Evaluation</h5>
								<h3><a href='/projects/eximbank/'>Eximbank M&E System</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- Kapture GIS -->
				<div class="col-lg-6 col-sm-6 grid-item gis">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/kapture-gis-thumb.jpg" alt="Kapture Web GIS">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Geospatial, Mapping</h5>
								<h3><a href='/projects/kapture-gis/'>Kapture Web GIS</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>

								<!-- GPS Tracking System -->
				<div class="col-lg-6 col-sm-6 grid-item logistics gis">
					<div class="case-study-single-box">
						<div class="case-study-thumb">
							<img src="/static/assets/images/projects/gps-tracking-thumb.jpg" alt="Custom GPS Tracking System">
						</div>
						<div class="case-study-content">
							<div class="case-study-title">
								<h5>Fleet Management, Real-time Tracking</h5>
								<h3><a href='/projects/gps-tracking/'>Custom GPS Tracking System</a></h3>
							</div>
							<div class="case-study-icon">
								<i class="bi bi-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--==================================================-->
	<!--End solutek case-study-area -->
<!--==================================================-->
{% endblock content %}