{% extends 'system_base.html' %}

{% block content %}
	<!--====== SERVICE PART START ======-->


<!--==================================================-->
<!-- Start solutek breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<h4>Services</h4>
					<ul class="breadcumb-list">
						<li><a href='/'>Home</a></li>
						<li class="list-arrow">&lt;</li>
						<li>Services</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end solutek breadcumb Area -->
<!--==================================================-->






<!--==================================================-->
<!-- start solutek service Area style-two-->
<!--==================================================-->

<div class="sservice-area style-two">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<h5 class="section-sub-title">ERNESOFT TECHNOLOGIES</h5>
					<h1 class="section-main-title">How Professional IT Services</h1>
					<h1 class="section-main-title">Can Drive <span>Success.</span></h1>
				</div>
			</div>
			
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-service-box">
					<div class="service-thumb">
						<img src="/static/assets/images/inner/services/service-thumb2.webp" alt="thumb">
					</div>
					<div class="service-icon">
						<img src="/static/assets/images/inner/service-icon.png" alt="icon">
					</div>
					<div class="service-content">
						<br>
						<h3 class="service-title"><a href='/services/geospatial/'>Geospatial Solutions</a></h3>
						<p class="service-text">Turn location data into actionable insights with powerful mapping and spatial analysis for smarter project outcomes.</p>
						<div class="service-btn">
							<a href='/services/geospatial/'><i class="fas fa-plus"></i> READ MORE</a>
						</div>
						<div class="services-shape bounce-animate-3">
							<img src="/static/assets/images/inner/serice-shape.png" alt="shape">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-service-box">
					<div class="service-thumb">
						<img src="/static/assets/images/inner/services/service-thumb1.jpg" alt="thumb">
					</div>
					<br>
					<div class="service-icon">
						<img src="/static/assets/images/inner/service-icon.png" alt="icon">
					</div>
					<div class="service-content">
						<br>
						<h3 class="service-title"><a href='/services/it/'>IT Management </a></h3>
						<p class="service-text">Optimize your operations with end-to-end IT management for a secure, efficient, and future-ready technology foundation.</p>
						<div class="service-btn">
							<a href="/services/it/"><i class="fas fa-plus"></i> READ MORE</a>
						</div>
						<div class="services-shape bounce-animate-3">
							<img src="/static/assets/images/inner/serice-shape.png" alt="shape">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-service-box">
					<div class="service-thumb">
						<img src="/static/assets/images/inner/services/service-thumb3.jpeg" alt="thumb">
					</div>
					<div class="service-icon">
						<img src="/static/assets/images/inner/service-icon.png" alt="icon">
					</div>
					<br>
					<br>
					<br>
					<div class="service-content">
						<!-- <br> -->
						<h3 class="service-title"><a href='/services/web-development/'>Web Development</a></h3>
						<p class="service-text">Build fast, engaging, and responsive websites that create a powerful online presence and convert visitors into customers.</p>
						<div class="service-btn">
							<a href='/services/web-development/'><i class="fas fa-plus"></i> READ MORE</a>
						</div>
						<div class="services-shape bounce-animate-3">
							<img src="/static/assets/images/inner/serice-shape.png" alt="shape">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-service-box">
					<div class="service-thumb">
						<img src="/static/assets/images/inner/services/service-thumb4.png" alt="thumb">
					</div>
					<div class="service-icon">
						<img src="/static/assets/images/inner/service-icon.png" alt="icon">
					</div>
					<div class="service-content">
						<br>
						<h3 class="service-title"><a href='/services/mobile-development/'>Mobile App Development</a></h3>
						<p class="service-text">Create intuitive and high-performance mobile and desktop applications that deliver seamless user experiences and drive growth.</p>
						<div class="service-btn">
							<a href='/services/mobile-development/'><i class="fas fa-plus"></i> READ MORE</a>
						</div>
						<div class="services-shape bounce-animate-3">
							<img src="/static/assets/images/inner/serice-shape.png" alt="shape">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-shape bounce-animate3">
			<img src="/static/assets/images/service5.png" alt="service5">
		</div>
		<div class="service-shape2">
			<img src="/static/assets/images/service7.png" alt="service5">
		</div>
		<div class="service-shape3 bounce-animate4">
			<img src="/static/assets/images/service8.png" alt="service5">
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end solutek service Area style-two-->
<!--==================================================-->





<!--==================================================-->
<!--start solutek team Area style-two-->
<!--==================================================-->
<!-- <div class="team-area style-two">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<h5 class="section-sub-title">OUR TEAM MEMBER</h5>
					<h1 class="section-main-title">Dedicated Team Members</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-team-box">
					<div class="single-team-thumb">
						<img src="/static/assets/images/home-two/team-thu.png" alt="thumb">
						<div class="team-content">
							<div class="team-inner-title">
								<h4><a href='team-details.html'>Al-Amin Hossain</a></h4>
								<p>UI/UX DESIGNER</p>
							</div>
							<div class="team-social-icon">
								<ul>
									<li><a href="service.html#">facebook</a></li>
									<li><a href="service.html#">twitter</a></li>
									<li><a href="service.html#">behance</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-team-box">
					<div class="single-team-thumb">
						<img src="/static/assets/images/home-two/team-thu2.png" alt="thumb">
						<div class="team-content">
							<div class="team-inner-title">
								<h4><a href='team-details.html'>Al-Amin Hossain</a></h4>
								<p>UI/UX DESIGNER</p>
							</div>
							<div class="team-social-icon">
								<ul>
									<li><a href="service.html#">facebook</a></li>
									<li><a href="service.html#">twitter</a></li>
									<li><a href="service.html#">behance</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-team-box">
					<div class="single-team-thumb">
						<img src="/static/assets/images/home-two/team-thu3.png" alt="thumb">
						<div class="team-content">
							<div class="team-inner-title">
								<h4><a href='team-details.html'>Al-Amin Hossain</a></h4>
								<p>UI/UX DESIGNER</p>
							</div>
							<div class="team-social-icon">
								<ul>
									<li><a href="service.html#">facebook</a></li>
									<li><a href="service.html#">twitter</a></li>
									<li><a href="service.html#">behance</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="single-team-box">
					<div class="single-team-thumb">
						<img src="/static/assets/images/home-two/team-thu4.png" alt="thumb">
						<div class="team-content">
							<div class="team-inner-title">
								<h4><a href='team-details.html'>Al-Amin Hossain</a></h4>
								<p>UI/UX DESIGNER</p>
							</div>
							<div class="team-social-icon">
								<ul>
									<li><a href="service.html#">facebook</a></li>
									<li><a href="service.html#">twitter</a></li>
									<li><a href="service.html#">behance</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!--==================================================-->
<!-- end solutek team Area style-two-->
<!--==================================================-->

{% endblock content %}